html {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.topper-link {
  color: white;
  margin-right: 7px;
}

.adress-topper {
  margin-top: 7px;
}

header,
.menu {
  background: #691b1b;
  font-weight: bolder;
}

.topper {
  width: 100vw;
  height: 50px;
  padding: 25px;
}

.social-media-topper {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img:first-child {
  opacity: 1;
}

@keyframes slide {

  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  53.33% {
    opacity: 0;
  }

}

.slider img:nth-child(2) {
  animation: slide 9s infinite;
}

.slider img:nth-child(3) {
  animation: slide 9s infinite;
  animation-delay: 3s;
}

.information-topper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  color: white;

}

.image-topper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 70%;
}

.div-logo {
  display: inline-block;
  width: 100vw;
  height: 500px;
}

.logo {
  height: 300px;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.nav-topper {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-image: linear-gradient(to bottom, #691b1b, #000000);
  text-align: center;
}

.nav-topper a {
  margin-left: 10px;
}


.logo-about {
  height: 1000px;
  text-align: center;
  padding: 100px;
  font-size: 25px;
  color: #5e5e5e;
}

.image-about {
  margin-bottom: 200px;
  height: 300px;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  padding: 35px;
}

.cards {
  display: inline-block
}

.menu-image {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.cards-image {
  height: 269px;
}

.photos {
  padding: 30px;
  align-items: center
}

.photos-images {
  width: 49.8%;
}

.contact {
  background-image: url("./assets/back-contact.webp");
  background-size: cover;
  padding-top: 50px;
}

.form-contact {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 685px;
  margin-top: 20px;

}

.form-contact input {
  margin: 10px 5px;
  padding: 2.5px;
  width: 330px;
  height: 30px;
  align-items: center;
  outline: none !important;
}

.contact-about input {
  width: 685px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background: #302728;
  color: #F7D118;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px;
  font-weight: bolder;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.5;
}

.footer {
  height: 300px;
  background: black;
  width: 100%;
}

.location {
  width: 100%;
  height: 250px;
}

.adress h2 {
  color: #F7D118;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 10px;

}

.adress p,
a {
  color: #F7D118;
  font-size: 20px;
}

.first-adress {
  display: inline-block;
  position: relative;
  bottom: 80px;
  right: 0;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.second-adress {
  display: inline-block;
  position: relative;
  left: 35vw;
  top: 0;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.assignment {
  display: block;
  text-align: center;
}

.assignment a {
  color: #F7D118;
}







@media screen and (max-width: 1000px) and (orientation:portrait) {}