html {
  height: 100%;
  width: 100%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Martian Mono', monospace;
  text-align: center;

}

body {
  background-image: url("https://img.freepik.com/fotos-gratis/vista-superior-hamburgueres-com-batatas-fritas-em-um-saco_23-2148235101.jpg?w=2000")
  background-repeat: none;
  background-size: cover;

}

.title {
  font-size: 100px;
  font-weight: bolder;
  color: #913203;
  font-family: 'Fasthand', cursive;
}

.logo {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%;
  margin-top: 50px;

}

.options {
  display: block;
  text-align: left;
  width: 250px;
  padding: 5px;
  background: indianred;
  border-radius: 10px;
  font-weight: 15px;
  color: #525252;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom:50px;


}

.finish {
  display: block;
  text-align: left;
  width: 250px;
  padding: 5px;
  background: indianred;
  border-radius: 10px;
  font-weight: 15px;
  color: #525252;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 50px;


}
.information {
  
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 20px;
  background: #9dcc74;
  font-weight: 15px;
  color: #525252;
  position: fixed;
  bottom: 0px;
  left: 0px;

}

select {
  outline-style: none;
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
  
}

label {
  display: block;
  margin: 2px;
}

.inform {
  display:inline-block;
  padding-left: 15px;
  position: absolute;
  left: 0;
  
  
  }
  
.confirm {
  display:inline-block;
  padding: 10px;
}

.info-label {
  text-align: left;
}

.confirm-button {
  height: 10 px;
  width: auto;
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 8px;
  background: indianred;
  color: white;
  box-shadow: 3px 1px 3px black;
  margin-top: auto;
  margin-bottom: auto;  
}

.confirm-button:hover {
  opacity: 0.8;
}
.confirm-button:active {
  color: black;
  opacity: 0.4;
}