html {

  height: 100%;
  width: 100%;

}


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.topper {
  background: #691b1b;
  width: 100vw;
  height: 50px;
  padding: 25px;


}

.social-media-topper {
  height: 50px;
  width: 50px;
  padding: 5px;


}

.information-topper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;

}

.image-topper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 70%;
}

.div-logo {
  display: inline-block;
  background: #691b1b;
  width: 100vw;
  height: 500px;
}

.logo {
  height: 300px;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;

}

.home {
  width: 1200px;
  overflow: auto;
  white-space: nowrap;
}

#home1 {
  width: 1300px;
}

#home2 {
  width: 1300px;
}